<div fxLayout="column" fxFlex="100%" fxLayoutAlign="center center">
  <div class="header-container" fxLayoutAlign="space-between center" fxLayout.lt-md="column" fxLayoutGap.lt-md="5%">
    <div class="title" fxFlex="50%" ngClass.lt-md="full-width" fxLayoutAlign="start center" fxLayotuGap="5%"
      fxFlex.lt-md="100%" fxLayoutAlign.lt-md="center center">
      <mat-icon fxLayoutAlign="center center">av_timer</mat-icon>
      <p fxLayoutAlign="center center">All Proudcts</p>
    </div>
    <div fxFlex="50%" fxLayoutAlign="center center" fxLayoutGap="5%" ngClass.lt-md="full-width"
      fxLayoutAlign.lt-md="space-between center">
      <div class="input-container">
        <input [formControl]="searchText" matInput type="text" class="input-box" placeholder="Search...">
        <div class="search-icon">
          <mat-icon>search</mat-icon>
        </div>
      </div>
      <div class="add-product-button">
        <button mat-fab extended color="primary" routerLink="add-product">
          <mat-icon>add_circle</mat-icon>
          Add Product
        </button>
      </div>
      <div class="cart-container" fxLayoutAlign="center center">
        <mat-icon [matBadge]="cartCount()" matBadgeOverlap="true" fxFlex=" 100%"
          fxLayoutAlign="center center">shopping_cart</mat-icon>
      </div>
    </div>
  </div>
  <div class="product-list-container full-width" fxLayout="row wrap" fxLayoutAlign="center center">
    <ng-container *ngIf="productListData && productListData?.length">
      <!-- appProductStyle - custom directive used for hover effect -->
      <div class="card-box" appProductStyle *ngFor="let product of productListData" ngClass.lt-sm="hover-element">
        <div class="container">
          <div class="product-image-container"></div>
          <div class="product-detail-container">
            <div class="detail-sec" fxFlex="100%" fxLayoutAlign="center center">
              <div class="details">
                <h1>{{product.name}}</h1>
                <!-- formatPrice - pipe used for formatting the price value -->
                <p>{{product.price | formatPrice:'₹'}}</p>
              </div>
              <div class="buy" (click)="addCart()" fxLayoutAlign="center center"><i
                  class="material-icons">add_shopping_cart</i></div>
            </div>
          </div>
        </div>
        <div class="info-container" fxLayoutAlign="end start">
          <div class="info-buttons" fxLayout="column" fxLayoutAlign="space-around center">
            <button disabled style="cursor: normal;" mat-icon-button>
              <mat-icon>info_outline</mat-icon>
            </button>
            <button mat-icon-button (click)="onEditProduct(product.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="onDeleteProduct(product.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <div class="info-icon"><i class="material-icons">info_outline</i></div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!productListData || productListData?.length === 0">
      <div class="error-img-container" fxFlex="100%" fxLayoutAlign="center center">
        <img src="../../../../assets/img/error-img.png" alt="">
      </div>
    </ng-container>
  </div>

</div>